extends layout

block head 
  link(rel="stylesheet", href="/styles/add.css")
  script(src="/scripts/add.js")

block content
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row

        // Back button
        a#back-button.mdl-button.mdl-js-button.mdl-button--icon(href="..")
          i.material-icons arrow_back
      
        // Header title
        span.mdl-layout-title Add Recipe
        
        .mdl-layout-spacer
        
        // Right aligned dropdown menu
        button#menu.mdl-button.mdl-js-button.mdl-button--icon
          i.material-icons more_vert
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="menu")
          li.mdl-menu__item Some action
          li.mdl-menu__item Another action

  main.mdl-layout__content.mdl-color--grey-100
    form(method="POST", enctype="multipart/form-data")

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#title(type="text", name="title", autocomplete="off")
        label.mdl-textfield__label(for="title") Title

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#author(type="text", name="author", autocomplete="off")
        label.mdl-textfield__label(for="author") Author

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        textarea.mdl-textfield__input#description(type="text", rows="1", name="description")
        label.mdl-textfield__label(for="description") Description

      #time
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input#hours(type="number", name="hours", min="0", max="99", step="1")
          label.mdl-textfield__label(for="hours") Hours

      #time
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input.mdl-textfield__input#minutes(type="number", name="minutes", min="0", max="99", step="1")
          label.mdl-textfield__label(for="hours") Minutes

      input#image(type="file", name="image", accept="image/*")

  content
    form.card(method="POST", enctype="multipart/form-data")
      input#title(type="text", name="title", placeholder="Title", autocomplete="off", required)
      input#author(type="text", name="author", placeholder="Author", autocomplete="off", required)
      textarea.auto-expand#description(rows="1", name="description",  placeholder="Description", oninput="autoExpand(this)", required)
      #time.flex-horoz
        .body-1 Time Taken:
        input(type="number", name="hours", placeholder="Hours", min="0", max="99", step="1", required)
        input(type="number", name="minutes", placeholder="Mins", min="0", max="59", step="1", required)
      input#image(type="file", name="image", accept="image/*", required)

      .divider

      #ingredients
        .subheading Ingredients
        .ingredient.flex-horoz.list
          i.material-icons.md-dark.cursor-all-scroll drag_handle
          input(type="text", name="ingredient", placeholder="Ingredient", autocomplete="off", required)
          input(type="text", name="amount", placeholder="Amount", autocomplete="off", required)
          i.material-icons.md-dark.cursor-pointer(onclick="removeItem(this)") cancel
        .cursor-pointer.flex-horoz.list(onclick="addIngredient()")
          i.material-icons.md-dark add
          div Ingredient

      .divider

      #method
        .subheading Method
        .step.flex-horoz.list
          i.material-icons.md-dark.cursor-all-scroll drag_handle
          textarea.auto-expand(rows="1", name="step", placeholder="Step", oninput="autoExpand(this)", required)
          i.material-icons.md-dark.cursor-pointer(onclick="removeItem(this)") cancel
        .cursor-pointer.link.flex-horoz.list(onclick="addStep()")
          i.material-icons.md-dark add
          .body-1 Step
        
      button.small(type="submit") SUBMIT