extends layout

block head 
  link(rel="stylesheet", href="/styles/add.css")
  script.
    function autoExpand(el) {
      el.oninput = function() {
        el.style.height = "auto";
        el.style.height = (el.scrollHeight+1) + "px";
      }
    }

block content
  header.primary-color.text-light
    a(href="..")
      i.material-icons.md-light arrow_back
    div Add Recipe

  content
    form.card(method="post")
      input(type="text", name="title", placeholder="Title", autocomplete="off")
      input(type="text", name="author", placeholder="Author", autocomplete="off")
      textarea.auto-expand(name="description", rows="1", placeholder="Description", oninput="autoExpand(this)")
      button.full-width(type="button") CHOOSE IMAGE
      .divider
      input(type="text", name="time", placeholder="Time taken", autocomplete="off")
      p.subheading Ingredients
      .ingredient.flex-horoz
        i.material-icons.md-dark(style="margin-right: 8px") drag_handle
        input(type="text", name="ingredient_name", placeholder="Name", autocomplete="off")
        input(type="text", name="ingredient_amount", placeholder="Amount", autocomplete="off")
        i.material-icons.md-dark cancel
      .flex-horoz
        i.material-icons.md-dark(style="margin-right: 8px") add
        .body-1 Ingredient
      .divider
      p.subheading Method
      .step.flex-horoz
        i.material-icons.md-dark(style="margin-right: 8px") drag_handle
        textarea.auto-expand(name="step", rows="1", placeholder="Step 1", oninput="autoExpand(this)")
        i.material-icons.md-dark cancel
      .flex-horoz
        i.material-icons.md-dark(style="margin-right: 8px") add
        .body-1 Step
        
      button.small(type="submit") SUBMIT