extends layout

block head 
  link(rel="stylesheet", href="/styles/add.css")
  script(src="/scripts/add.js")

block content
  header.primary-color.text-light
    a(href="..")
      i.material-icons.md-light arrow_back
    div Add Recipe

  content
    form.card(method="POST", enctype="multipart/form-data")
      input#title(type="text", name="title", placeholder="Title", autocomplete="off", required)
      input#author(type="text", name="author", placeholder="Author", autocomplete="off", required)
      textarea.auto-expand#description(rows="1", name="description",  placeholder="Description", oninput="autoExpand(this)", required)
      #time.flex-horoz
        .body-1 Time Taken:
        input(type="number", name="hours", placeholder="Hours", min="0", max="99", step="1", required)
        input(type="number", name="minutes", placeholder="Mins", min="0", max="59", step="1", required)
      input#image(type="file", name="image", accept="image/*", required)

      .divider

      #ingredients
        .subheading Ingredients
        .ingredient.flex-horoz.list
          i.material-icons.md-dark.cursor-all-scroll drag_handle
          input(type="text", name="ingredient", placeholder="Ingredient", autocomplete="off", required)
          input(type="text", name="amount", placeholder="Amount", autocomplete="off", required)
          i.material-icons.md-dark.cursor-pointer(onclick="removeItem(this)") cancel
        .cursor-pointer.flex-horoz.list(onclick="addIngredient()")
          i.material-icons.md-dark add
          div Ingredient

      .divider

      #method
        .subheading Method
        .step.flex-horoz.list
          i.material-icons.md-dark.cursor-all-scroll drag_handle
          textarea.auto-expand(rows="1", name="step", placeholder="Step", oninput="autoExpand(this)", required)
          i.material-icons.md-dark.cursor-pointer(onclick="removeItem(this)") cancel
        .cursor-pointer.link.flex-horoz.list(onclick="addStep()")
          i.material-icons.md-dark add
          .body-1 Step
        
      button.small(type="submit") SUBMIT