extends layout

block head 
  link(rel="stylesheet", href="/styles/add.css")
  script(src="/scripts/add.js")

block content
  header.primary-color.text-light
    a(href="..")
      i.material-icons.md-light arrow_back
    div Add Recipe

  content
    form.card(action="javascript:submit()")
      input#title(type="text", placeholder="Title", autocomplete="off")
      input#author(type="text", placeholder="Author", autocomplete="off")
      textarea.auto-expand#description(rows="1", placeholder="Description", oninput="autoExpand(this)")
      button.full-width(type="button") CHOOSE IMAGE

      .divider

      input#time(type="text", placeholder="Time taken", autocomplete="off")
      p.subheading Ingredients
      #ingredients
        .ingredient.flex-horoz.list
          i.material-icons.md-dark.cursor-all-scroll drag_handle
          input(type="text", placeholder="Ingredient")
          input(type="text", placeholder="Amount")
          i.material-icons.md-dark.cursor-pointer(onclick="removeItem(this)") cancel
        .cursor-pointer.flex-horoz.list(onclick="addIngredient()")
          i.material-icons.md-dark add
          div Ingredient

      .divider

      p.subheading Method
      #method
        .step.flex-horoz.list
          i.material-icons.md-dark.cursor-all-scroll drag_handle
          textarea.auto-expand(rows="1", placeholder="Step", oninput="autoExpand(this)")
          i.material-icons.md-dark.cursor-pointer(onclick="removeItem(this)") cancel
        .cursor-pointer.link.flex-horoz.list(onclick="addStep()")
          i.material-icons.md-dark add
          .body-1 Step
        
      button.small(type="submit") SUBMIT