extends layout

block head
  link(rel="stylesheet", href="/styles/homepage.css")

block content
  header.primary-color.text-light
    i.material-icons.md-light menu
    div Recipes
    spacer
    i.material-icons.md-light refresh
    i.material-icons.md-light more_vert

  content
    each recipe in recipes
      a.recipe-card(style="background-image: url("+recipe.imageURL+")", href=recipe.link)
        .card-title
          .recipe-name= recipe.title
          .recipe-author #{recipe.author} - #{recipe.time}
  
  A.fab.accent-color(href="r")
    i.material-icons.md-light add