extends layout

block content
  header.default-primary-color
    i.material-icons.md-light menu
    div Recipes
    spacer
    i.material-icons.md-light refresh
    i.material-icons.md-light more_vert

  content
    .recipe-card
      .card-title
        .recipe-name Pesto Bruchetta
        .recipe-author Peter Carlsson - 35 mins
