form {
  background: #FFFFFF;
  padding: 16px;
  max-width: 600px;
  margin: 64px auto 0 auto;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 8px 0;
}

.divider {
  margin: 16px 0 16px -16px;
  width: calc(100% + 32px);
}

button.small {
  max-width: max-content;
}

.flex-horoz {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ingredient input {
  min-width: 60px;
  width: 0px;
}

.ingredient>*:nth-child(2)  {
  flex-grow: 4;
  margin-right: 16px;
}

.ingredient>*:nth-child(3) {
  flex-grow: 1;
  margin-right: 8px;
}

.step>*:nth-child(2) {
  margin-right: 8px;
  flex-grow: 1;
}