.mdl-layout__header-row > button {
  margin-left: 1.5rem;
}

.mdl-grid {
  max-width: 1000px;
}

/* Tile styles */
.mdl-card {
  background: center / cover;
  border-radius: 0;
}

.mdl-card > .mdl-card__actions {
  height: 68px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  color: white;
  font-family: "Roboto";
}

.mdl-card > .mdl-card__actions > .text > .title {
  font-size: 20px;
  font-weight: 500;
}

.mdl-card > .mdl-card__actions > .text > .author {
  font-size: 16px;
}