.background {
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  background: white;
  max-width: 700px;
  height: 1000px;
  margin: 240px auto 0 auto;
  padding: 24px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 0 -2px;
}

.ingredient {
  margin: 0 0 8px 8px;
}

.amount {
  display: inline-block;
  width: 80px;
}

.name {
  display: inline-block;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
}